@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
    <script src="~/Areas/Mms/ViewModels/Task.js"></script>
    <script type="text/javascript">
        using(['combogrid', 'combobox', 'datebox', 'numberbox']);
        var formatterEnable = function (value, row) { return '<img src="/Content/images/' + ((value || '').toString() == "true" ? "checkmark.gif" : "checknomark.gif") + '"/>'; };
        ko.bindingViewModel(new viewModel());
    </script>
}
<div class="z-toolbar">
    <a id="a_refresh" href="#" plain="true" class="easyui-linkbutton" icon="icon-arrow_refresh" title="刷新" data-bind="click:refreshClick">刷新</a>
    <a id="a_add" href="#" plain="true" class="easyui-linkbutton" icon="icon-add" title="新增" data-bind="click:addClick">新增</a>
    <a id="a_edit" href="#" plain="true" class="easyui-linkbutton" icon="icon-edit" data-bind="click:editClick" title="编辑">编辑</a>
    <a id="a_del" href="#" plain="true" class="easyui-linkbutton" icon="icon-cross" title="删除" data-bind="click:deleteClick">删除</a>
</div>



<table id="gridlist" data-bind="datagrid:grid">
    <thead>
        <tr>
            <th field="_id" hidden="true">_id</th>
            <th field="Task_id" width="80">任务单号</th>
            <th field="Cont_ID" width="80">合同编号</th>
            <th field="Strong" width="80">强度</th>
            <th field="Fall" width="80">坍落度</th>
            <th field="LinkName" width="80">联系人</th>
            <th field="Telephon" width="80">联系电话</th>
            <th field="Provide_DateTime" sortable="true" align="left" width="120" editor="{type:'datebox'}" formatter="com.formatDate">供应时间</th>
            <th field="CheckDateTime" sortable="true" align="left" width="120" editor="{type:'datebox'}" formatter="com.formatDate">供应时间 </th>
        </tr>
    </thead>
</table>


<script type="text/html" id="task-template">
    <style type="text/css">
        .s-txt {
            width: 60px;
        }

        .m-txt {
            width: 100px;
        }

        .l-txt {
            width: 356px;
        }
    </style>
    <div id="master" class="container_12">
        <div class="grid_2 lbl">任务单号</div>
        <div class="grid_3 val"><input type="text" class="z-txt m-txt" data-bind="value:form.Task_id" disabled="disabled" /></div>
        <div class="grid_2 lbl">楼号</div>
        <div class="grid_2 val"><input type="text" class="easyui-combobox z-txt s-txt" data-bind="easyuiCombobox:comboboxHouse,comboboxValue:form.House_id" /></div>
        <div class="grid_2 lbl">状态</div>
        <div class="grid_1 val"><input type="checkbox" data-bind="checked:form.AuditingFlag" disabled="disabled" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl required">合同编号</div>
        <div class="grid_10 val">
            <input type="text" class="z-txt l-txt" style="width:300px;" data-bind="value:form.Cont_ID" disabled="disabled" />
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" data-bind="click:lookupClick"></a>
        </div>
        <div class="clear"></div>

        <div class="grid_2 lbl">工程名称</div>
        <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" data-bind="easyuiCombobox:comboboxProject,comboboxValue:form.Cont_ID" data-options="disabled:true" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">施工单位</div>
        <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" data-bind="easyuiCombobox:comboboxClient,comboboxValue:form.Clin_ID" data-options="disabled:true" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl required">结构部位</div>
        <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" data-bind="easyuiCombobox:comboboxPlace,comboboxValue:form.Place" data-options="required:true" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">预定方量</div>
        <div class="grid_10 val"><input type="text" class="easyui-numberbox z-txt m-txt" data-bind="numberboxValue:form.Amount" data-options="precision:2" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl required">强度等级</div>
        <div class="grid_3 val"><input type="text" class="easyui-combobox z-txt m-txt" data-bind="easyuiCombobox:comboboxStrong,comboboxValue:form.Strong" data-options="required:true" /></div>
        <div class="grid_2 lbl required">坍落度</div>
        <div class="grid_2 val"><input type="text" class="easyui-combobox z-txt s-txt" data-bind="easyuiCombobox:comboboxFall,comboboxValue:form.Fall" data-options="required:true" /></div>
        <div class="grid_2 lbl">是否泵送 </div>
        <div class="grid_1 val"><input type="checkbox" data-bind="checked:form.Pump" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">泵车</div>
        <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" data-bind="easyuiCombobox:comboboxPumpType" data-options="multiple:true" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">需方联系人</div>
        <div class="grid_3 val"><input type="text" class="z-txt m-txt" data-bind="value:form.LinkName" /></div>
        <div class="grid_2 lbl">需方电话</div>
        <div class="grid_5 val"><input type="text" class="z-txt m-txt" data-bind="value:form.Telephon" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">签发</div>
        <div class="grid_3 val"><input type="text" class="z-txt m-txt" data-bind="value:form.ViseName" /></div>
        <div class="grid_2 lbl required">签发时间 </div>
        <div class="grid_5 val"><input type="text" class="easyui-datebox z-txt m-txt" data-bind="dateboxValue:form.CheckDateTime" data-options="required:true" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">审核</div>
        <div class="grid_3 val"><input type="text" class="z-txt m-txt" data-bind="value:form.Auditing" /></div>
        <div class="grid_2 lbl">供应时间</div>
        <div class="grid_5 val"><input type="text" class="easyui-datebox z-txt m-txt" data-bind="dateboxValue:form.Provide_DateTime" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">备注 </div>
        <div class="grid_4 val"><textarea style="height:50px;" class="z-txt l-txt" data-bind="value:form.Remark"></textarea></div>
        <div class="clear"></div>
    </div>
    <div style="text-align:center;clear:both">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" data-bind="click:confirmClick" href="javascript:void(0)">确定</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" data-bind="click:cancelClick" href="javascript:void(0)">取消</a>
    </div>
</script>
