
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Areas/Mms/ViewModels/Task.js"></script>
    <script type="text/javascript">
        using('datebox');
        var formatterEnable = function (value, row) { return '<img src="/Content/images/' + ((value || '').toString() == "true" ? "checkmark.gif" : "checknomark.gif") + '"/>'; };
        ko.bindingViewModel(new viewModel());
    </script>
}
<div class="z-toolbar">
    <a id="a_refresh" href="#" plain="true" class="easyui-linkbutton" icon="icon-arrow_refresh" title="刷新" data-bind="click:refreshClick">刷新</a>
    <a id="a_add" href="#" plain="true" class="easyui-linkbutton" icon="icon-add" title="新增" data-bind="click:addClick">新增</a>
    <a id="a_edit" href="#" plain="true" class="easyui-linkbutton" icon="icon-edit" data-bind="click:editClick" title="编辑">编辑</a>
    <a id="a_del" href="#" plain="true" class="easyui-linkbutton" icon="icon-cross" title="删除" data-bind="click:deleteClick">删除</a>
    <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:saveClick" title="保存">保存</a>
</div>



<table id="gridlist" data-bind="datagrid:grid">
    <thead>
        <tr>
            <th field="_id" hidden="true">_id</th>
            <th field="Task_id" width="80">单号任务</th>
            <th field="Cont_ID" width="80">合同编号</th>
            <th field="Strong" width="80">强度</th>
            <th field="Fall" width="80">坍落度</th>
            <th field="LinkName" width="80">联系人</th>
            <th field="Telephon" width="80">联系电话</th>
            <th field="Provide_DateTime" sortable="true" align="left" width="120" editor="{type:'datebox'}" formatter="com.formatDate">供应时间</th>
            <th field="CheckDateTime" sortable="true" align="left" width="120" editor="{type:'datebox'}" formatter="com.formatDate">供应时间 </th>
        </tr>
    </thead>
</table>


<script type="text/html" id="task-template">
        <div id="master" class="container_12">
            <div class="grid_2 lbl">任务单号</div>
            <div class="grid_4 val"><input type="text"  class="z-txt" /></div>
            <div class="grid_2 lbl">楼号</div>
            <div class="grid_4 val"><input type="text"  class="z-txt" /></div>

            <div class="clear"></div>

            <div class="grid_2 lbl">状态</div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>

            <div class="grid_2 lbl">合同编号</div>
            <div class="grid_4 val"><input type="text"  class="z-txt" /></div>

            <div class="clear"></div>
            <div class="grid_2 lbl">施工单位</div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>
            <div class="grid_2 lbl">结构部位 </div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>

            <div class="clear"></div>

            <div class="grid_2 lbl">强度等级 </div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>
            <div class="grid_2 lbl">预定方量</div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>

            <div class="clear"></div>
            <div class="grid_2 lbl">坍落度 </div>
            <div class="grid_4 val"><input type="text"  class="z-txt" /></div>
            <div class="grid_2 lbl">是否泵送 </div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>
            <div class="clear"></div>
            <div class="grid_2 lbl">泵车</div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>
            <div class="grid_2 lbl">联系人 </div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>

            <div class="clear"></div>
            <div class="grid_2 lbl">联系电话 </div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>
            <div class="grid_2 lbl">签发人</div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>
            <div class="grid_2 lbl">创建时间 </div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>
            <div class="grid_2 lbl">审核人 </div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>
            <div class="clear"></div>
            <div class="grid_2 lbl">供应时间</div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>
            <div class="grid_2 lbl">备注 </div>
            <div class="grid_4 val"><input type="text" class="z-txt" /></div>
            <div class="clear"></div>
        </div>
    <div style="text-align:center;clear:both">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" data-bind="click:confirmClick" href="javascript:void(0)">确定</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" data-bind="click:cancelClick" href="javascript:void(0)">取消</a>
    </div>
</script>
