@{
    ViewBag.Title = "LookupS_Confect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style type="text/css">
        .z-toolbar {
            border-width: 0;
            margin: 0 !important;
        }

        #form_div {
            padding: 0 !important;
            height: 100%;
            width: 100%;
        }

        .lbl {
            text-align: right;
            line-height: 25px;
        }

        .datagrid .panel-body {
            border-width: 0 !important;
        }

        body {
            padding: 0 !important;
        }
    </style>
}

@section scripts{
    <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
    <script src="~/Areas/Mms/ViewModels/mms.lookupS_Confect.js"></script>
}

<div id="layoutbox">
    <div region="center" split="true">
        <div id="right" class="easyui-layout" fit="true">
            <div region="north" border="false">
                <div class="z-toolbar">
                    <div id="master" class="container_16">
                        <div class="grid_2 lbl" id="valueTitle">强度等级</div>
                        <div class="grid_4 val"><input type="text" id="id" name="Strong" class="z-txt" data-cp="like" /></div>
                       
                        <div class="grid_4 val" style="margin-top: 0px;">
                            <a id="btnSearch" href="#" plain="true" class="easyui-linkbutton" icon="icon-search" title="过滤">过滤</a>
                            <a id="btnClear" href="#" plain="true" class="easyui-linkbutton" icon="icon-clear" title="清空">清空</a>
                        </div>
                    </div>
                </div>
                @*<div id="list111"></div>*@
            </div>
            <div region="west" style="width:0px;"></div>
            <div region="center">
                <table id="list111"></table>
            </div>
            <div region="east" style="width:280px;"><table id="list222"></table></div>
            <div region="south" border="false" split="true" style="height:28px;">
                <div class="z-toolbar" style="text-align: center; position:relative;padding-top:0px;">
                    <button id="btnConfirm" class="sexybutton"><span><span><span class="ok">确定</span></span></span></button>&nbsp;
                    <button id="btnCancel" class="sexybutton"><span><span><span class="cancel">取消</span></span></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
