@{
    ViewBag.Title = "库存统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Areas/Mms/ViewModels/SiloStat.js"></script>
    <script type="text/javascript">
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        ko.bindingViewModel(new viewModel(data));
    </script>
}
<div class="z-toolbar">
    <a href="#" plain="true" class="easyui-splitbutton" data-options="menu:'#dropdown',iconCls:'icon-download'">导出</a>
</div>
<div id="condition" class="container_12" style="position:relative;">
    <div class="grid_2 lbl">生产时间</div>
    <div class="grid_4 val"><input type="text" data-bind="value:form.Provide_DateTime" class="z-txt easyui-daterange" /></div>
    @*<div class="grid_1 lbl">公司名</div>
        <div class="grid_1 val"><input type="text" data-bind="" class="z-txt easyui-combobox" data-options="showblank:true" /></div>*@
    <div class="grid_6 val">
        <a id="btnSearch" href="#" plain="true" data-bind="click:searchClick" class="easyui-linkbutton" icon="icon-search" title="查询">查询</a>
    </div>
</div>



<div id="dropdown" style="width:100px; display:none;">
    <div data-options="iconCls:'icon-ext-xls'" suffix="xls" data-bind="click:downloadClick">Excel2003   </div>
    <div data-options="iconCls:'icon-page_excel'" suffix="xlsx" data-bind="click:downloadClick">Excel2007   </div>
    <div data-options="iconCls:'icon-ext-doc'" suffix="doc" data-bind="click:downloadClick">Word2003    </div>
</div>
<table id="gridlist" data-bind="datagrid:grid">
    <thead>
        <tr>
            <th field="_id" hidden="true">_id</th>
            <th field="Hous_id" width="80">楼号</th>
            <th field="ProvideName" width="120">材料供应商</th>
            <th field="silo_id" width="80">筒仓名</th>
            <th field="昨日库存" width="80">昨日库存</th>
            <th field="当日入库" width="80">当日入库</th>
            <th field="当日出库" width="80">当日出库</th>
            <th field="本日库存" width="80">本日库存</th>
        </tr>
    </thead>
</table>
