@{
    ViewBag.Title = "收款通知";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
    <script src="~/Areas/Mms/ViewModels/Gathering.js"></script>
    <script type="text/javascript">
        using(['combogrid', 'combobox', 'datetimebox', 'numberbox','datagrid']);
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        var formatterEnable = function (value, row) { return '<img src="/Content/images/' + ((value || '').toString() == "true" ? "checkmark.gif" : "checknomark.gif") + '"/>'; };
        ko.bindingViewModel(new viewModel(data));
    </script>
}
<div class="z-toolbar">
    <a id="a_refresh" href="#" plain="true" class="easyui-linkbutton" icon="icon-arrow_refresh" title="刷新" data-bind="click:refreshClick">刷新</a>
    <a id="a_add" href="#" plain="true" class="easyui-linkbutton" icon="icon-add" title="新增" data-bind="click:addClick">新增</a>
    <a id="a_edit" href="#" plain="true" class="easyui-linkbutton" icon="icon-edit" data-bind="click:editClick" title="编辑">编辑</a>
        <a id="a_del" href="#" plain="true" class="easyui-linkbutton" icon="icon-cross" title="删除" data-bind="click:deleteClick">删除</a>
</div>

<div id="condition" class="container_12" style="position:relative;">
    <div class="grid_1 lbl">收款单号</div>
    <div class="grid_2 val"><input type="text" data-bind="value:form.Gathering_ID" class="z-txt" /></div>
    <div class="grid_1 lbl">工程名称</div>
    <div class="grid_2 val"><input type="text" data-bind="value:form.ProjectName" class="z-txt" /></div>
    <div class="clear"></div>
    <div class="grid_1 lbl">时间</div>
    <div class="grid_2 val"><input type="text" data-bind="value:form.CheckDateTime" class="easyui-daterange z-txt" /></div>
    <div class="clear"></div>
    <div class="prefix_9" style="position:absolute;top:5px;height:0;">
        <a id="a_search" href="#" class="buttonHuge button-blue" data-bind="click:searchClick" style="margin:0 15px;">查询</a>
        <a id="a_reset" href="#" class="buttonHuge button-blue" data-bind="click:clearClick">清空</a>
    </div>
</div>


<table id="gridlist" data-bind="datagrid:grid">
    <thead>
        <tr>
            <th field="_id" hidden="true">_id</th>
            <th field="Gathering_ID" width="100">单号</th>
            <th field="ProjectName" width="120">工程名称</th>
            <th field="Name" width="120">施工单位</th>
            <th field="CheckDateTime" width="100">时间</th>
            <th field="ReceiveMoney" width="80">收款金额</th>
            <th field="Other" width="80">催缴金额</th>
            <th field="AffirmFlag" width="30" formatter="com.formatCheckbox">确认</th>
            <th field="Remark" width="100">备注</th>
            

        </tr>
    </thead>
</table>

@*<!-  弹出框 ------------- >*@

<script type="text/html" id="task-template">
    <style type="text/css">
        .s-txt {
            width: 60px;
        }

        .m-txt {
            width: 100px;
        }

        .l-txt {
            width: 356px;
        }
    </style>
    <div id="master" class="container_12">
        <div class="grid_2 lbl">单号</div>
        <div class="grid_3 val"><input type="text" class="z-txt m-txt" data-bind="value:form.Gathering_ID" disabled="disabled" /></div>
        <div class="clear"></div>
        <div class="grid_2 lbl required">合同编号</div>
        <div class="grid_10 val">
            <input type="text" class="z-txt l-txt" style="width:300px;" data-bind="value:form.SysCont_id" disabled="disabled" />
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" data-bind="click:lookupClick"></a>
        </div>
        <div class="clear"></div>

        <div class="grid_2 lbl">工程名称</div>
        <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" data-bind="easyuiCombobox:comboboxProject,comboboxValue:form.SysCont_id" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">施工单位</div>
        <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" data-bind="easyuiCombobox:comboboxClient,comboboxValue:form.Clinet_id" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">付款人</div>
        <div class="grid_10 val"><input type="text" class="z-txt m-txt" style="width:90%;" data-bind="value:form.GatheringPerson" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">开户行</div>
        <div class="grid_10 val"><input type="text" class="z-txt m-txt" style="width:90%;" data-bind="value:form.Bank" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">账号</div>
        <div class="grid_10 val"><input type="text" class="z-txt m-txt" style="width:90%;" data-bind="value:form.AcCode" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl required">销售员</div>
        <div class="grid_3 val"><input type="text" class="easyui-combobox z-txt m-txt" data-bind="easyuiCombobox:comboboxSalseName,comboboxValue:form.SalseName" data-options="required:true" /></div>
        <div class="grid_2 lbl required">收款方式</div>
        <div class="grid_2 val"><input type="text" class="easyui-combobox z-txt s-txt" data-bind="easyuiCombobox:comboboxReceiveType,comboboxValue:form.ReceiveType" data-options="required:true" /></div>

        <div class="clear"></div>

     
        <div class="grid_2 lbl">收款金额</div>
        <div class="grid_3 val"><input type="text" class="z-txt m-txt" data-bind="value:form.ReceiveMoney" /></div>
        <div class="grid_2 lbl">催缴金额</div>
        <div class="grid_5 val"><input type="text" class="z-txt m-txt" data-bind="value:form.Other" /></div>
        <div class="clear"></div>

    
        <div class="grid_2 lbl required">收款时间 </div>
        <div class="grid_3 val"><input type="text" class="easyui-datebox z-txt m-txt" data-bind="dateboxValue:form.CheckDateTime" data-options="required:true" /></div>
        <div class="grid_2 lbl">收款人</div>
        <div class="grid_5 val"><input type="text" class="z-txt m-txt" data-bind="value:form.GatheringPerson" /></div>
        <div class="clear"></div>

        <div class="grid_2 lbl">备注 </div>
        <div class="grid_4 val"><textarea style="height:50px;" class="z-txt l-txt" data-bind="value:form.Remark"></textarea></div>
        <div class="clear"></div>
    </div>
        <div style="text-align:center;clear:both">
            @*<a class=" easyui-linkbutton" data-bind="css: { display:form.AuditingFlagDisplay },click:confirmClick" data-options="iconCls:'icon-ok'" href="javascript:void(0)">*@
            <a class="easyui-linkbutton" data-bind="click:confirmClick" data-options="iconCls:'icon-ok'" href="javascript:void(0)">
                确定
            </a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" data-bind="click:cancelClick" href="javascript:void(0)">取消</a>
        </div>

        <div style="clear:both">
            <table id="listDetail" data-bind="datagrid:griddetail">
                <thead>
                    <tr>
                        <th field="ID" sortable="true" align="left" width="80" hidden="hidden">序号</th>
                        <th field="Gathering_ID" sortable="true" align="left" width="100" hidden="hidden">Gathering_ID</th>
                        <th field="CheckDateTime" sortable="true" align="left" width="100"  editor="{type:'datebox'}" formatter="com.formatDate">时间</th>
                        <th field="ReceiveMoney" sortable="true" align="left" width="120" editor="text">收款金额</th>
                        <th field="CheckFlag" sortable="true" align="left" width="100" formatter="com.formatCheckbox" editor="{type:'checkbox',options:{on:true,off:false}}">确认</th>
                        <th field="Remark" sortable="true" align="left" width="100" editor="text">备注</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="text-align:center;clear:both">
            <a class="easyui-linkbutton" data-bind="click:detailAdd" data-options="iconCls:'icon-ok'" href="javascript:void(0)">
                追加
            </a>
            <a class="easyui-linkbutton" data-bind="click:detailconfirmClick" data-options="iconCls:'icon-ok'" href="javascript:void(0)">
                确定
            </a>
        </div>

</script>
