@{
    ViewBag.Title = "调度管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Areas/Mms/ViewModels/Dispatch.js"></script>
    <script type="text/javascript">
        using('datebox');
        using('timespinner');
        using('datetimebox');
        using('jquery');
        using(['validatebox', 'combotree', 'numberspinner'], easyuifix.datagrid_editor_extend);
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        ko.bindingViewModel(new viewModel(data));
    </script>
    <style type="text/css">
        .datagrid {
            height: 550px;
            overflow-y: auto;
        }
        .z-body {
        overflow-y:scroll;
        }
    </style>
}
<div id="cc" class="easyui-layout" style="width: 2100px; height:900px;" data-options="fit:true">
    <div data-options="region:'north',title:'',split:true" style="height:40px;width:1800px;">
        <div class="z-toolbar" style="height:23px;">
            <a id="a_refresh" href="#" plain="true" class="easyui-linkbutton" icon="icon-arrow_refresh" title="刷新" data-bind="click:refreshClick">刷新</a>
            <a id="a_add" href="#" plain="true" class="easyui-linkbutton" icon="icon-add" title="新增" data-bind="click:addClick">新增</a>
        </div>
    </div>
    <div data-options="region:'south',title:'',split:true" style="width:2100px;height:460px;">
        <div id="tt" class="easyui-tabs">
            <div title="生产查询">
                <iframe id="frmProduct" frameborder="0" src="/Mms/Product" style="width: 100%;height:2000px"></iframe>
            </div>
            <div title="车辆查询">
                <iframe id="frmProduct" frameborder="0" src="/Mms/Product" style="width: 100%;height:2000px"></iframe>
            </div>
            <div title="运输单" class="hide" style="padding-top:2px;">
            </div>
            <div title="批量关闭">
            </div>
            <div title="车序设置">
            </div>
            <div title="任务开启">
            </div>
            <div title="运输单信息">
            </div>
            <div title="车辆排队">
            </div>
        </div>
    </div>
    <div data-options="region:'east',title:'',split:true" style="width:1200px;height:400px;">
        <div class="z-toolbar">
            <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="" title="保存">保存</a>
            <a id="a_undo" href="#" plain="true" class="easyui-linkbutton" icon="icon-undo" data-bind="" title="关闭">关闭</a>
            <a id="a_printer" href="#" plain="true" class="easyui-linkbutton" icon="icon-printer" title="打印" data-bind="">打印</a>
        </div>
        <div id="master" class="container_12" style="width:85%;">
            <div class="grid_1 lbl">合同编号</div>   @*CurrModel.CNo*@
            <div class="grid_2 val"><input type="text" id="合同编号" name="合同编号" data-bind="value:CurrModel.CNo" class="z-txt readonly" /></div>
            <div class="grid_1 lbl">配比编号</div>
            <div class="grid_2 val"><input type="text" id="CPBNo" name="CPBNo" data-bind="value:CurrModel.CPBNo" class="z-txt readonly" /></div>
            <div class="grid_1 lbl">任务编号</div>
            <div class="grid_2 val "><input type="text" id="CTaskNo" name="CTaskNo" data-bind="value:CurrModel.CTaskNo" class="z-txt easyui-validatebox" /></div>
            <div class="grid_1 lbl">第一车</div>
            <div class="grid_2 val "><input type="text" id="CFirstCarTime" name="CFirstCarTime" data-bind="datetimeboxValue:CurrModel.CFirstCarTime" class=" z-txt easyui-datetimebox" /></div>

            <div class="clear"></div>

            <div class="grid_1 lbl">工程名称</div>
            <div class="grid_8 val"><input type="text" id="CProjectName" name="CProjectName" data-bind="value:CurrModel.CProjectName" class="z-txt readonly" style="width:95%;" /></div>
            <div class="grid_1 lbl">最后一车</div>
            <div class="grid_2 val "><input type="text" id="LastCarTime" name="LastCarTime" data-bind="datetimeboxValue:CurrModel.LastCarTime" class=" z-txt easyui-datetimebox" /></div>
            <div class="clear"></div>

            <div class="grid_1 lbl">施工单位</div>
            <div class="grid_8 val"><input type="text" id="CClientName" name="CClientName" data-bind="value:CurrModel.CClientName" class="z-txt readonly" style="width:95%;" /></div>
            <div class="grid_1 lbl">发车间隔</div>
            <div class="grid_2 val "><input type="text" id="Cinterva" name="Cinterva" data-bind="value:CurrModel.Cinterva" class="z-txt easyui-validatebox" /></div>
            <div class="clear"></div>

            <div class="grid_1 lbl">结构部位</div>
            <div class="grid_5 val"><input type="text" id="CPosition" name="CPosition" data-bind="value:CurrModel.CPosition" class="z-txt readonly" style="width:100%;" /></div>
            <div class="grid_1 lbl">外加剂</div>
            <div class="grid_2 val "><input type="text" id="Cwjj" name="Cwjj" data-bind="value:CurrModel.Cwjj" class="z-txt easyui-validatebox" /></div>
            <div class="grid_1 lbl">已送方量</div>
            <div class="grid_2 val "><input type="text" id="Cysfl" name="Cysfl" data-bind="value:CurrModel.Cysfl" class="z-txt easyui-validatebox" /></div>
            <div class="clear"></div>

            <div class="grid_1 lbl">预定方量</div>
            <div class="grid_2 val"><input type="text" id="Cydfl" name="Cydfl" data-bind="value:CurrModel.Cydfl" class="z-txt readonly" /></div>
            <div class="grid_1 lbl">强度</div>
            <div class="grid_2 val"><input type="text" id="Cqd" name="Cqd" data-bind="value:CurrModel.Cqd" class="z-txt readonly" /></div>
            <div class="grid_1 lbl">坍落度</div>
            <div class="grid_2 val "><input type="text" id="Ctld" name="Ctld" data-bind="value:CurrModel.Ctld" class="z-txt easyui-validatebox" /></div>
            <div class="grid_1 lbl">已送车数</div>
            <div class="grid_2 val "><input type="text" id="Cyscs" name="Cyscs" data-bind="value:CurrModel.Cyscs" class="z-txt easyui-validatebox" /></div>
            <div class="clear"></div>

            <div class="grid_1 lbl">拌楼号</div>
            <div class="grid_2 val"><input type="text" data-bind="comboboxValue:CurrModel.ChouseId,datasource:dataSource.houseItems" class="z-txt easyui-combobox" required="true" /></div>
            <div class="grid_1 lbl">运输单号</div>
            <div class="grid_2 val"><input type="text" id="BillDate" name="BillDate" data-bind="" class="z-txt readonly" /></div>
            <div class="grid_1 lbl">开单时间</div>
            <div class="grid_5 val "><input type="text" id="DoPerson" name="DoPerson" data-bind="" class="z-txt easyui-datetimebox" style="width:95%;" /></div>
            <div class="clear"></div>


            <div class="grid_1 lbl">供应量</div>
            <div class="grid_2 val"><input type="text" id="BillNo" name="BillNo" data-bind="" class="z-txt readonly" /></div>
            <div class="grid_1 lbl">累计供应</div>
            <div class="grid_2 val"><input type="text" id="BillDate" name="BillDate" data-bind="" class="z-txt readonly" /></div>
            <div class="grid_1 lbl">砂浆</div>
            <div class="grid_2 val "><input type="text" id="DoPerson" name="DoPerson" data-bind="" class="z-txt easyui-validatebox" /></div>
            <div class="grid_1 lbl">剩转</div>
            <div class="grid_2 val "><input type="text" id="DoPerson" name="DoPerson" data-bind="" class="z-txt easyui-validatebox" /></div>
            <div class="clear"></div>


            <div class="grid_1 lbl">车号</div>
            <div class="grid_2 val"><input type="text" data-bind="comboboxValue:CurrModel.CCarId,datasource:dataSource.carItems" class="z-txt easyui-combobox" required="true" /></div>
            <div class="grid_1 lbl">驾驶员</div>
            <div class="grid_2 val"><input type="text" data-bind="comboboxValue:CurrModel.CDriveID,datasource:dataSource.driveItems" class="z-txt easyui-combobox" required="true" /></div>
            <div class="grid_1 lbl">车次</div>
            <div class="grid_2 val "><input type="text" id="DoPerson" name="DoPerson" data-bind="" class="z-txt easyui-validatebox" /></div>
            <div class="grid_1 lbl">转入</div>
            <div class="grid_2 val "><input type="text" id="DoPerson" name="DoPerson" data-bind="" class="z-txt easyui-validatebox" /></div>
            <div class="clear"></div>

            <div class="grid_1 lbl">泵号</div>
            <div class="grid_5 val"><input type="text" data-bind="comboboxValue:CurrModel.CPumpId,datasource:dataSource.pumpItems" class="z-txt easyui-combobox" required="true" /></div>
            <div class="grid_1 lbl">操作员</div>
            <div class="grid_2 val "><input type="text" id="DoPerson" name="DoPerson" data-bind="" class="z-txt easyui-validatebox" /></div>
            <div class="grid_1 lbl">调度</div>
            <div class="grid_2 val "><input type="text" id="DoPerson" name="DoPerson" data-bind="" class="z-txt easyui-validatebox" /></div>
            <div class="clear"></div>


            <div class="grid_1 lbl">备注</div>
            <div class="grid_5 val"><input type="text" id="BillNo" name="BillNo" data-bind="" class="z-txt easyui-validatebox" /></div>
            <div class="grid_1 lbl">剩转号</div>
            <div class="grid_2 val "><input type="text" id="DoPerson" name="DoPerson" data-bind="" class="z-txt easyui-validatebox" /></div>
            <div class="grid_1 lbl">运距</div>
            <div class="grid_2 val "><input type="text" id="DoPerson" name="DoPerson" data-bind="" class="z-txt easyui-validatebox" /></div>
            <div class="clear"></div>
        </div>
    </div>
    <div data-options="region:'west',title:'',split:true" style="width:0px;">

    </div>
    <div data-options="region:'center',title:''" style="padding: 5px; background: #eee; width: 900px; height: 400px;">
        <table id="gridlist" data-bind="datagrid:grid">
            <thead>
                <tr>
                    <th field="序号" sortable="true" editor="text">序号</th>
                    <th field="合同编号" sortable="true" align="left" width="100" editor="text">合同编号</th>
                    <th field="任务单编号" sortable="true" align="left" width="100" editor="text">任务单编号</th>
                    <th field="配比编号" sortable="true" align="left" width="80" editor="text">配比编号</th>
                    <th field="临时工地" sortable="true" align="center" width="80" editor="text">临时工地</th>
                    <th field="结构部位" sortable="true" align="left" width="80" editor="text">结构部位</th>
                    <th field="强度等级" sortable="true" align="left" width="80" editor="text">强度等级</th>
                    <th field="坍落度" sortable="true" align="left" width="80" editor="text">坍落度</th>
                    <th field="泵送" sortable="true" align="left" width="200" editor="text">泵送</th>
                    <th field="预定方量" sortable="true" align="left" width="60" editor="text">预定方量</th>
                    <th field="累计方量" sortable="true" align="left" width="60" editor="text">累计方量</th>
                    <th field="累计车次" sortable="true" align="left" width="60" editor="text">累计车次</th>
                    <th field="第一车时间" sortable="true" align="center" width="80" editor="{type:'datebox'}" formatter="com.formatDate">第一车时间</th>
                    <th field="最后一车时间" sortable="true" align="left" width="60" editor="{type:'datebox'}" formatter="com.formatDate">最后一车时间</th>
                    <th field="任务供应时间" sortable="true" align="left" width="60" editor="{type:'datebox'}" formatter="com.formatDate">任务供应时间</th>
                    <th field="ProjectName" hidden="true"></th>
                    <th field="ClientName" hidden="true"></th>
                    <th field="interva" hidden="true"></th>
                    <th field="wjj" hidden="true"></th>
                    <th field="House_id" hidden="true"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>




