
@{
    ViewBag.Title = "AuditDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Areas/Mms/ViewModels/AuditDetail.js"></script>
    <script type="text/javascript">
        using(['combogrid', 'combobox', 'datetimebox', 'numberbox','datagrid']);
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        ko.bindingViewModel(new viewModel(data));

    </script>
}
<style type="text/css">
    .ccontent {
       height:200px;
       overflow-y:auto;
    } 
    .left {
        width: 400px;
        float: left;
    }

    .right {
        float:left;
        width:600px;
        padding-top:7px;
    }
    /*.datagrid {
    width:400px !important;
    }*/

    .datagrid-view2 {
        height:355px !important;
    }
    .panel-body-noheader {
        height: 355px !important;
    }

</style>

<div class="ccontent">
    <div class="left">
        <div id="master" class="container_12">
            <div class="grid_2 lbl">配比单号</div>
            <div class="grid_10 val"><input type="text" class="z-txt m-txt" style="width:80px;" data-bind="" disabled="disabled" /></div>
            <div class="clear"></div>
            <div class="grid_2 lbl">任务单号</div>
            <div class="grid_10 val"><input type="text" class="z-txt m-txt" style="width:90px;" data-bind="" disabled="disabled" /></div>
            <div class="clear"></div>
            <div class="grid_2 lbl">工程名称</div>
            <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" style="width:250px;" data-bind="" data-options="disabled:true" /></div>
            <div class="clear"></div>

            <div class="grid_2 lbl">施工单位</div>
            <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" style="width:250px;" data-bind="" data-options="disabled:true" /></div>
            <div class="clear"></div>

            <div class="grid_2 lbl">栓供應量</div>
            <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" style="width:250px;" data-bind="" data-options="disabled:true" /></div>

            <div class="clear"></div>
            <div class="grid_2 lbl">樓號</div>
            <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" style="width:250px;" data-bind="" data-options="disabled:true" /></div>
            <div class="clear"></div>
            <div class="grid_2 lbl required">结构部位</div>
            <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" style="width:250px;" data-bind="" data-options="required:true" /></div>
            <div class="clear"></div>
            <div class="grid_2 lbl required">强度等级</div>
            <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt m-txt" style="width:90px;" data-bind="" data-options="required:true" /></div>

            <div class="clear"></div>
            <div class="grid_2 lbl required">坍落度</div>
            <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt s-txt" style="width:100px;" data-bind="" data-options="required:true" /></div>
            <div class="clear"></div>
            <div class="grid_2 lbl">是否泵送 </div>
            <div class="grid_10 val"><input type="checkbox" data-bind="" /></div>
            <div class="clear"></div>
            <div class="grid_2 lbl">外加剂</div>
            <div class="grid_10 val"><input type="text" class="easyui-combobox z-txt l-txt" data-bind="" data-options="multiple:true" /></div>
            <div class="clear"></div>

            <div class="grid_2 lbl required">登记时间 </div>
            <div class="grid_10 val"><input type="text" class="easyui-datebox z-txt m-txt" style="width:90px;" data-bind="" data-options="required:true" /></div>
            <div class="clear"></div>

            <div class="grid_2 lbl required">內部編號 </div>
            <div class="grid_10 val"><input type="text" class="easyui-datebox z-txt m-txt" style="width:90px;" data-bind="" data-options="required:true" /></div>

            <div class="clear"></div>

            <div class="grid_2 lbl">备注 </div>
            <div class="grid_10 val"><textarea class="z-txt l-txt" style="width: 240px;" data-bind=""></textarea></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="right">
        <table id="gridlist" data-bind="datagrid:grid">
            <thead>
                <tr>
                    <th field="Confect_Detail_ID" width="160">调整编号</th>
                    <th field="Hous_ID" width="140">拌楼</th>
                </tr>
            </thead>
        </table>

    </div>
</div>

<div class="confectDetail">
    <table id="griddetaillist" data-bind="datagrid:griddetail">
        <thead>
            <tr>
                <th field="Sequence" sortable="true" align="left" width="80" editor="text">序号</th>
                <th field="Hous1Name" hidden="true" sortable="true" align="left" width="100" editor="text">1#线</th>
                <th field="Hous2Name" hidden="true" sortable="true" align="left" width="100" editor="text">2#线</</th>
                <th field="Hous3Name" hidden="true" sortable="true" align="left" width="100" editor="text">3#线</</th>
                <th field="Hous4Name" hidden="true" sortable="true" align="left" width="100" editor="text">4#线</</th>
                @*<th field="range_From" sortable="true" align="left" width="60" editor="text">最小值</th>*@
                <th field="Theory_Value" sortable="true" align="left" width="100" editor="text">设定配比值</th>
                <th field="Ratio" sortable="true" align="left" width="100" editor="text">含水率</th>
                <th field="MT_Value" sortable="true" align="left" width="120" editor="text">施工配比值</th>
                <th field="Range_To" sortable="true" align="left" width="100" editor="text">最大值</th>
                <th field="MTType" sortable="true" align="left" width="100" editor="text">材料种类</th>
                @*<th field="MTSize" sortable="true" align="left" width="60" editor="text">材料规格</th>*@
                <th field="Provide_ID" sortable="true" align="left" width="100" editor="text">供应商名称</th>
            </tr>
        </thead>
    </table>
</div>

<div class="toolbarArea">
    <div class="z-toolbar" style="height:23px;">
      
        <a id="a_refresh" href="#" class="easyui-linkbutton" data-bind="click:refreshClick">再次发送配比</a>
        <div class="grid_2 lbl">胶凝材料：</div>
        <div class="grid_2 val"><input type="text" class="z-txt m-txt" style="width:80px;" data-bind="" /></div>
        <div class="grid_2 lbl">外加剂：</div>
        <div class="grid_2 val"><input type="text" class="z-txt m-txt" style="width:80px;" data-bind="" /></div>
        <a id="a_refresh" href="#" class="easyui-linkbutton" data-bind="click:refreshClick">计算</a>
        <a id="a_refresh" href="#" class="easyui-linkbutton" data-bind="click:refreshClick">消耗</a>
        <a id="a_refresh" href="#" class="easyui-linkbutton" data-bind="click:refreshClick">调整</a>
        <a id="a_refresh" href="#" class="easyui-linkbutton" data-bind="click:refreshClick">关闭</a>
    </div>
</div>